.product-list {
  gap: 12px;

  b {
    font-weight: bold;
  }

  .product-item {
    border: 2px solid #03a9f5;
    padding: 4px;

    a {
      display: flex;
      justify-content: space-between;

      .basic-info {
        font-size: 18px;
        margin-bottom: 6px;

        span,
        h3,
        p {
          margin-top: 10px;
        }

        span {
          font-weight: bolder;
        }

        h3 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }
      }

      .price {
        font-size: 26px;
        font-weight: bold;
        align-self: center;
      }
    }
  }
}

.green {
  color: green;
}

.red {
  color: red;
}
