/* ProductCreate.scss */
.create-popup {
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .title {
    font-weight: bold;
    text-align: center;
  }

  .button-container {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

// .close-button {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   background: none;
//   border: none;
//   font-size: 24px;
//   cursor: pointer;
//   color: #333;
//   outline: none;
// }
