.notfound {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: x-large;
    font-weight: bold;
  }
}
