.smart-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;

  input,
  textarea,
  select {
    border: 1px solid;
    padding: 12px;
  }

  input:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #03a9f5;
    border-radius: 0;
  }

  select:focus-visible {
    border-radius: 0;
    outline: 0;
  }
  input:focus-visible {
    border-radius: 0;
    outline: 0;
  }
  textarea:focus-visible {
    border-radius: 0;
    outline: 0;
  }

  .error-message {
    color: red;
  }
}
